<div id="">
    <span id="username"></span>
    <label for="">Escribi algo:</label>
    <input id="inputText" type="text">
    <button id="enviar">Enviar</button>
</div>
<div id="contenedor-mensajes">
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>
